@font-face {
    font-family: 'Winky';
    src: local('Winky'), url('fonts/Winky_Sans/static/WinkySans-Light.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
}


body {
    display: flex;
    flex-direction: row;
}

.side-bar {
    display: flex;
    font-family: 'Winky';
    font-size: 16px;
    flex-direction: column;
    height: auto;
    background-color: rgb(255, 161, 192);
    padding: 15px;
    width: 15%;
}

.side-bar img {
    width: 25px;
    height: 25px;
}

.side-bar a {
    text-decoration: none;
    color: black;
}

.dash {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px;
}

.dash img {
    width: 45px;
    height: 45px;
}

.side-bar-top {
    display: grid;
    padding: 20px;
    gap: 15px;
}

.side-bar-bottom {
    display: grid;
    padding-top: 45px;
    gap: 15px;
}

.top {
    display: flex;
    justify-content: space-between;
    font-family: 'Winky';
    margin: 35px;
    font-size: 18px;
    font-weight: bold;
}


.top img {
    width: 25px;
    height: 25px;
}

input {
    border: none;
    border-radius: 10px;
    width: 40rem;
    height: 30px;
    background-color: rgb(221, 217, 217);
}

.top .avatar-top {
    width: 45px;
    height: 45px;
}

.top>div {
    display: flex;
    gap: 20px;
}

.bottom .avatar-bottom {
    width: 65px;
    height: 65px;
}

.bottom {
    display: flex;
    margin: 35px;
    justify-content: space-between;
}

.bottom>div {
    display: flex;
    align-items: center;
    gap: 20px;
}

.bottom p {
    font-family: 'Winky';
    font-weight: bold;
}

.greeting {
    font-size: 15px;
}

.nickname {
    font-size: 27px;
}

.bottom div:last-child {
    display: flex;
    gap: 25px;
}

button {
    min-width: 150px;
    height: 45px;
    text-align: center;
    font-family: 'Winky';
    background-color: rgb(255, 161, 192);
    color: black;
    border: none;
    border-radius: 15px;
    font-size: 20px;
    cursor: pointer;
}

.text {
    display: flex;
    flex-direction: column;
    line-height: 3px;
}

.wrapper {
    background-color: rgb(221, 217, 217);
    font-family: 'Winky';
    font-size: 18px;
    font-weight: bold;
    padding: 15px;
}

.content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 30px;
}

.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    font-family: 'Winky';
    font-size: 14px;
    gap: 20px;
    margin-top: 10px;
}

.projects>div {
    background-color: rgb(255, 161, 192);
    padding: 15px;
    border-radius: 10px;
    border-left: 4px solid black;
}

.projects p {
    font-weight: normal;
}

.projects img {
    width: 25px;
    height: 25px;
}


.announcments {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    grid-template-rows: repeat(1, 2fr);
    font-size: 14px;
    padding-left: 15px;
    gap: 20px;
    margin-top: 10px;
}

.announcments p {
    font-weight: normal;
}

.announcments img {
    width: 35px;
    height: 35px;
}

.announcments>div {
    background-color: rgb(255, 161, 192);
    padding: 15px;
    border-radius: 10px;
}

.headings {
    font-size: 18px;
    font-weight: bold;
}

.announcments-header{
    padding-left: 22px;
}

.trending div {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.trending div > p {
    padding-left: 7px;
}

hr {
    border: 1px solid black;
}